.todoapp.stack-large {
    background-repeat: no-repeat;
}

#light {
    background: radial-gradient(circle farthest-side, #ccc, #fff);
    color: #000;
}

#light button {
    border: 2px solid #000;
}

#dark {
    background: radial-gradient(circle farthest-side, #000, rgb(66, 66, 66));
    color: #fff;
}

#dark button {
    border: 2px solid #fff;
}