.todoapp.stack-large {
    background-repeat: no-repeat;
}

#light {
    background: radial-gradient(circle farthest-side, #ccc, #fff);
    color: #000;
}

#light .filters.btn-group.stack-exception button {
    border: 1px solid #000;
}

#dark {

}

#dark .filters.btn-group.stack-exception button {

}